/* 
    skin-blue 
    ---------
*/
/* skin-blue navbar */
.navbar {
  background-color: #f2f4f7;
}
.navbar .nav a {
  color: #636567;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:active,
.navbar .nav > li > a:focus,
.navbar .nav .open > a,
.navbar .nav .open > a:hover,
.navbar .nav .open > a:focus {
  color: #636567;
  border-bottom: 3px solid #636567;
}
.navbar .navbar-right > .nav {
  margin-right: 10px;
}
.navbar .sidebar-toggle .icon-bar {
  background: #acd0e5;
}
/* skin-blue logo */
.logo {
  background-color: #35393B;
  color: #f9f9f9;
}
.logo > a {
  color: #f9f9f9;
}
.logo:hover {
}
/* Skin-blue user panel */
.user-panel > .image > img {
  border: 1px solid #dfdfdf;
}
.user-panel > .info, .user-panel > .info > a {
  color: #d3d7dc;
  font-weight: bold;
}
.left-side .sidebar > .sidebar-menu {
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
	margin-top: 15%;
}

.left-side .sidebar > .sidebar-menu > li > a { 
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
   font-weight:bold;
}

/* skin-blue sidebar */
.sidebar-default {
  border-bottom: 1px solid #fff;
}
								
.sidebar-default > .sidebar-menu > li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #dbdbdb;
}
.sidebar-default > .sidebar-menu > li:first-of-type {
  border-top: 1px solid #dbdbdb;
}
.sidebar-default > .sidebar-menu > li:first-of-type > a {
  border-top: 1px solid #fff;
}
.sidebar > .sidebar-menu > li > a {
  margin-right: 1px;
}
.sidebar > .sidebar-menu > li > a:hover,
.sidebar > .sidebar-menu > li.active > a {
  color: #fff;
  border-left:3px solid #5aadcc;
  font-weight:bold;
}
.sidebar > .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #f9f9f9;
}
.left-side {
  background: #35393B;
  -webkit-box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.1);
  box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.07);
}
.sidebar a {
  color: #5d6162;
}
.sidebar a:hover {
  text-decoration: none;
}
.treeview-menu > li > a {
  color: #777;
}
.treeview-menu > li.active > a,
.treeview-menu > li > a:hover {
  color: #a8aec7;
}
 .sidebar-form {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid transparent;
  margin: 10px 10px;
}
.sidebar-form input[type="text"],
 .sidebar-form .btn {
  box-shadow: none;
  background-color: #4f555a;

  border: 1px solid #4f555a;
  height: 35px;
}

.input-group-btn, .sidebar-form .input-group-btn {
  height:34px;
}
.sidebar-form input[type="text"] {
  color: #666;
  -webkit-border-top-left-radius: 2px !important;
  -webkit-border-top-right-radius: 0 !important;
  -webkit-border-bottom-right-radius: 0 !important;
  -webkit-border-bottom-left-radius: 2px !important;
  -moz-border-radius-topleft: 2px !important;
  -moz-border-radius-topright: 0 !important;
  -moz-border-radius-bottomright: 0 !important;
  -moz-border-radius-bottomleft: 2px !important;
  border-top-left-radius: 2px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 2px !important;
}
.sidebar-form input[type="text"]:focus,
.sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #575d63;
  color: #fff;
}
.sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #575d63;
}
.sidebar-form .btn {
  color: #999;
  -webkit-border-top-left-radius: 0 !important;
  -webkit-border-top-right-radius: 2px !important;
  -webkit-border-bottom-right-radius: 2px !important;
  -webkit-border-bottom-left-radius: 0 !important;
  -moz-border-radius-topleft: 0 !important;
  -moz-border-radius-topright: 2px !important;
  -moz-border-radius-bottomright: 2px !important;
  -moz-border-radius-bottomleft: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
  border-bottom-left-radius: 0 !important;
}

/* 
    skin-blue 
    ---------
*/
/* skin-blue navbar */
.skin-black .navbar {
    background-color: #2b2c31;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2c31), color-stop(100%, #383c45));
    background-image: -webkit-linear-gradient(bottom, #2b2c31, #383c45);
    background-image: linear-gradient(to top, #2b2c31, #383c45)
}


.skin-black .content {
	background:#e8ecef;
}

.skin-black .navbar .nav a {
  color: #99a1a6;
}
.skin-black .navbar .nav > li > a:hover,
.skin-black .navbar .nav > li > a:active,
.skin-black .navbar .nav > li > a:focus,
.skin-black .navbar .nav .open > a,
.skin-black .navbar .nav .open > a:hover,
.skin-black .navbar .nav .open > a:focus {
    background: transparent;
    color: #2cc0d5
}
.skin-blue .navbar .navbar-right > .nav {
  margin-right: 10px;
}
.skin-blue .navbar .sidebar-toggle .icon-bar {
  background: #acd0e5;
}
/* skin-blue logo */
.skin-black .logo {
    background-color: #2b2c31;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2c31), color-stop(100%, #383c45));
    background-image: -webkit-linear-gradient(bottom, #2b2c31, #383c45);
    background-image: linear-gradient(to top, #2b2c31, #383c45)
}

.skin-blue .logo > a {
  color: #f9f9f9;
}
.skin-blue .logo:hover {
  background: #357ca5;
}
.skin-black .user-panel {
	background-color: #2b2c31;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2c31),color-stop(100%, #383c45));
background-image: -webkit-linear-gradient(bottom, #2b2c31,#383c45);
background-image: linear-gradient(to top,#2b2c31,#383c45);
border-bottom:2px solid #24272e;
color:#99a1a6;
}
/* Skin-blue user panel */
.skin-blue .user-panel > .image > img {
  border: 1px solid #dfdfdf;
}
.skin-blue .user-panel > .info,
.skin-blue .user-panel > .info > a {
  color: white;
}
/* skin-blue sidebar */
.skin-blue .sidebar {
  border-bottom: 1px solid #fff;
}
.skin-blue .sidebar > .sidebar-menu > li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #dbdbdb;
}
.skin-blue .sidebar > .sidebar-menu > li:first-of-type {
  border-top: 1px solid #dbdbdb;
}
.skin-blue .sidebar > .sidebar-menu > li:first-of-type > a {
  border-top: 1px solid #fff;
}
.skin-black .sidebar > .sidebar-menu > li > a {
  margin-right: 1px;
  color: #7a7c82;
text-transform: uppercase;
-webkit-transition: background 0.4s,color 0.4s;
-moz-transition: background 0.4s,color 0.4s;
transition: background 0.4s,color 0.4s;

}

.skin-black .sidebar > .sidebar-menu > li > a:hover,
.skin-black .sidebar > .sidebar-menu > li.active > a {
background: #373a42;
color: #e0e0e2;
}
.skin-blue .sidebar > .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #f9f9f9;
}
.skin-black .left-side {
background:#33363f
}

.skin-blue .sidebar a {
  color: #555555;
}
.skin-blue .sidebar a:hover {
  text-decoration: none;
}
.skin-blue .treeview-menu > li > a {
  color: #777;
}
.skin-blue .treeview-menu > li.active > a,
.skin-blue .treeview-menu > li > a:hover {
  color: #111;
}
.skin-blue .sidebar .sidebar-form {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #dbdbdb;
  margin: 10px 10px;
}
.skin-blue .sidebar .sidebar-form input[type="text"],
.skin-blue .sidebar .sidebar-form .btn {
  box-shadow: none;
  background-color: #fafafa;
  border: 1px solid #fafafa;
  height: 35px;
}
.skin-blue .sidebar .sidebar-form input[type="text"] {
  color: #666;
  -webkit-border-top-left-radius: 2px !important;
  -webkit-border-top-right-radius: 0 !important;
  -webkit-border-bottom-right-radius: 0 !important;
  -webkit-border-bottom-left-radius: 2px !important;
  -moz-border-radius-topleft: 2px !important;
  -moz-border-radius-topright: 0 !important;
  -moz-border-radius-bottomright: 0 !important;
  -moz-border-radius-bottomleft: 2px !important;
  border-top-left-radius: 2px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 2px !important;
}
.skin-blue .sidebar .sidebar-form input[type="text"]:focus,
.skin-blue .sidebar .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-blue .sidebar .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-blue .sidebar .sidebar-form .btn {
  color: #999;
  -webkit-border-top-left-radius: 0 !important;
  -webkit-border-top-right-radius: 2px !important;
  -webkit-border-bottom-right-radius: 2px !important;
  -webkit-border-bottom-left-radius: 0 !important;
  -moz-border-radius-topleft: 0 !important;
  -moz-border-radius-topright: 2px !important;
  -moz-border-radius-bottomright: 2px !important;
  -moz-border-radius-bottomleft: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
  border-bottom-left-radius: 0 !important;
}