/* wesley */
.loading-spinner {
	left: 50%;
	margin: -12px 0 0 -12px;
	position: absolute;
	top: 50%;
 }
	.list-group-item-heading {
		font-size: 14px;
		font-weight: bold;
	 }
 
a.list-group-item:hover {color: black;}
 
.content-no-padding {
	margin-top: 2px;
	padding: 0 !important;
 }
 
.content-spliter {
	height: 100%;
	position: relative;
	width: 100%;
 }
 
	.content-spliter::after {
		clear: both;
		content: '';
		display: block;
	 }
 
/* Message page */
.content-splitter-inner {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
 }
 
.content-splitter-sidebar .list-group {margin-bottom: 0 !important;}
 
	.content-splitter-sidebar .list-group .list-group-item {
		border-bottom: 1px solid #ddd !important;
		border-left: none !important;
		border-right: none !important;
		border-top: none !important;
		margin-bottom: 0 !important;
	 }
 
.content-splitter-sidebar .list-group-item:first-child {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
 }
 
.content-splitter-sidebar .list-group-item:last-child {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
 }
 
	.content-splitter-right.empty:before {
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		content: "No preview";
		font-size: 24px;
		font-weight: lighter;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
	 }

.content-splitter-right .box-solid {margin-bottom: 15px !important;}
 
.box.box-assets {background-color: #FCFBEF !important;}
 
.box-assets .box-header {padding-bottom: 0 !important;}
 
.box-assets .box-body {padding-top: 0 !important;}
 
.table.table-assets > tbody > tr >td {/* background-color: #FCFBEF !important; */}
 
.table.table-assets td, .table.table-assets th {
	border-top: none !important;
	padding: 5px;
 }
 
.table-assets div.col-sm-8 {
	padding-left: 0 !important;
	padding-right: 0 !important;
	width: 165px !important;
 }
 
tr.tentative td {
	background-color: #DAE3F2 !important;
	font-style: italic !important;
 }
 
	tr.tentative td a {
		color: black;
		cursor: default;
		pointer-events: none;
	 }
 
tr.tentative-allow-links td a {
	color: #3c8dbc !important;
	cursor: pointer !important;
	pointer-events: auto !important;
 }
 
tr.tentative-crossed td {position: relative;}
 
	tr.tentative-crossed td:before {
		border-bottom: 1px solid red;
		content: " ";
		left: 0;
		position: absolute;
		top: 50%;
		width: 100%;
	 }
 
	tr.tentative-crossed td , tr.tentative-crossed td a {color: red !important;}
 
tr.your-order td {background-color: #FFFAF0 !important;}
 
.data-loading-container {
	height: 200px;
	text-align: center;
 }
 
	.data-loading-container img {margin-top: 84px;}
 
.data-loading-container, .data-empty-container {display: none;}
 
.data-container.data-loading .data-loading-container {display: block;}
 
.data-container.data-empty .data-empty-container {display: block;}
 
.data-container.data-empty table, .data-container.data-loading table {display: none;}
 

	.rss_news.data-loading {
		height: 200px;
		text-align: center;
	 }
 
		.rss_news.data-loading img {margin-top: 84px;}
 
#message_text {
	height: 65%;
	outline: none;
	resize: none;
 }
 
.form-group-last {margin-bottom: 0 !important;}
 
.center_el {
	float: none !important;
	margin-left: auto !important;
	margin-right: auto !important;
 }
 
.context_menu {
	display: none;
	position: absolute;
 }
 
.list-group-item.context {background-color: #f5f5f5 !important;}
 
	.list-group-item.context p.list-group-item-text, .list-group-item.context h4 {color: black !important;}
 
.unselectable {
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	-webkit-user-select: none; /* Chrome/Safari */
	user-select: none;
 }
 
.rss_news .list-group {margin-bottom: 0 !important;}
 
a.list-group-item-header {
	background: #E6EEF4;
	color: white !important;
	cursor: default !important;
	padding-bottom: 5px !important;
	padding-left: 15px !important;
	padding-right: 15px !important;
	padding-top: 5px !important;
	padding: 0 !important;
 }
 
	a.list-group-item-header h4 {margin-bottom: 0 !important;}
 
	a.list-group-item-header:hover {background: #E6EEF4 !important;}
 
.testnet_only {display: none;}
 
.label {
	font-size: 100%;
	font-weight: bold;
 }
 
.scrollable-menu {
	height: auto;
	max-height: 500px;
	overflow-x: hidden;
 }
 
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-left: 10px !important;
	padding-right: 10px !important;
 }
 
#forging_indicator {font-size: 14px;}
 
.small-box .icon-smaller {
	bottom: -7px;
	color: rgba(0, 0, 0, 0.15);
	font-size: 75px;
	position: absolute;
	right: 5px;
	z-index: 0;
 }
 
.small-box > .inner-smaller {padding-bottom: 0 !important;}
 
.small-box:hover .icon-smaller {
	-moz-animation-duration: .5s;
	-moz-animation-fill-mode: forwards;
	-moz-animation-iteration-count: 1;
	-moz-animation-name: transformAnimationSmall;
	-moz-animation-timing-function: ease;
	-webkit-animation-duration: .5s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-name: transformAnimationSmall;
	-webkit-animation-timing-function: ease;
	animation-duration: .5s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-name: transformAnimationSmall;
	animation-timing-function: ease;
 }
 
@keyframes transformAnimationSmall {from}
 
to {font-size: 85px;}
 
{}
 
@-webkit-keyframes transformAnimationSmall {from}
 
to {font-size: 85px;}
 
{}
/* wesley */
.loading-spinner {
	left: 50%;
	margin: -12px 0 0 -12px;
	position: absolute;
	top: 50%;
 }
 
/* wesley */
@media screen and (min-width: 800px) {body .modal-dialog-wide}
 
body.reed_solomon .modal-dialog-wide, .modal-dialog-wider {width: 800px;}
 
{}
 
	.bootstrap-notify-top-right {
		-moz-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
		-webkit-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
		box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
	 }
 
	.page {display: none;}
 
	.list-group-item-heading {
		font-size: 14px;
		font-weight: bold;
	 }
 
a.list-group-item:hover {color: black;}
 
.content-no-padding {
	margin-top: 2px;
	padding: 0 !important;
 }
 
.content-spliter {
	height: 100%;
	position: relative;
	width: 100%;
 }
 
	.content-spliter::after {
		clear: both;
		content: '';
		display: block;
	 }
 
/* Message page */
.content-splitter-inner {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
 }
 
.content-splitter-sidebar .list-group {margin-bottom: 0 !important;}
 
	.content-splitter-sidebar .list-group .list-group-item {
		border-bottom: 1px solid #ddd !important;
		border-left: none !important;
		border-right: none !important;
		border-top: none !important;
		margin-bottom: 0 !important;
	 }
 
.content-splitter-sidebar .list-group-item:first-child {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
 }
 
.content-splitter-sidebar .list-group-item:last-child {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
 }
	.content-splitter-right.empty:before {
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		content: "No preview";
		font-size: 24px;
		font-weight: lighter;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
	 }
 
.content-splitter-right .box-solid {margin-bottom: 15px !important;}
 
.box.box-assets {background-color: #FCFBEF !important;}
 
.box-assets .box-header {padding-bottom: 0 !important;}
 
.box-assets .box-body {padding-top: 0 !important;}
 
.table.table-assets > tbody > tr >td {/* background-color: #FCFBEF !important; */}
 
.table.table-assets td, .table.table-assets th {
	border-top: none !important;
	padding: 5px;
 }
 
#asset_exchange_bid_orders_table tr:hover td, #asset_exchange_ask_orders_table tr:hover td {
	background-color: #FEFFBC !important;
	cursor: hand;
	cursor: pointer;
 }
 
.table-assets div.col-sm-8 {
	padding-left: 0 !important;
	padding-right: 0 !important;
	width: 165px !important;
 }
 
tr.your-order td {background-color: #FFFAF0 !important;}
 
div.tentative {
	background-color: #c4e1ec !important;
	font-style: italic !important;
	padding: 5px;
 }
 
tr.tentative td {
	background-color: #DAE3F2 !important;
	font-style: italic !important;
 }
 
	tr.tentative td a {
		color: black;
		cursor: default;
		pointer-events: none;
	 }
 
tr.tentative-allow-links td a {
	color: #3c8dbc !important;
	cursor: pointer !important;
	pointer-events: auto !important;
 }
 
tr.tentative-crossed td {position: relative;}
 
	tr.tentative-crossed td:before {
		border-bottom: 1px solid red;
		content: " ";
		left: 0;
		position: absolute;
		top: 50%;
		width: 100%;
	 }
 
	tr.tentative-crossed td , tr.tentative-crossed td a {color: red !important;}
 
.data-loading-container {
	height: 200px;
	text-align: center;
 }
 
	.data-loading-container img {margin-top: 84px;}
 
.data-loading-container, .data-empty-container {display: none;}
 
.data-container.data-loading .data-loading-container {display: block;}
 
.data-container.data-empty .data-empty-container {display: block;}
 
.data-container.data-empty table, .data-container.data-loading table {display: none;}
 
/* http://stackoverflow.com/questions/12996736/basic-jquery-animation-elipsis-three-dots-sequentially-appearing */
@-webkit-keyframes opacity {0%}
 
100% {opacity: 0;}
 
{}
 
@-moz-keyframes opacity {0%}
 
100% {opacity: 0;}
 
{}
 
@-o-keyframes opacity {0%}
 
100% {opacity: 0;}
 
{}
 
@keyframes opacity {0%}
 
100% {opacity: 0;}
 
{}
	.rss_news.data-loading {
		height: 200px;
		text-align: center;
	 }
 
		.rss_news.data-loading img {margin-top: 84px;}
 
#message_text {
	height: 65%;
	outline: none;
	resize: none;
 }
 
.form-group-last {margin-bottom: 0 !important;}
 
.center_el {
	float: none !important;
	margin-left: auto !important;
	margin-right: auto !important;
 }
 
.context_menu {
	display: none;
	position: absolute;
 }
 
.list-group-item.context {background-color: #f5f5f5 !important;}
 
	.list-group-item.context p.list-group-item-text, .list-group-item.context h4 {color: black !important;}
 
.unselectable {
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	-webkit-user-select: none; /* Chrome/Safari */
	user-select: none;
 }
 
.rss_news .list-group {margin-bottom: 0 !important;}
 
a.list-group-item-header {
	background: #E6EEF4 !important;
	color: white !important;
	padding-bottom: 5px !important;
	padding-left: 15px !important;
	padding-right: 15px !important;
	padding-top: 5px !important;
	padding: 0 !important;
 }
 
	a.list-group-item-header h4 {margin-bottom: 0 !important;}
 
	a.list-group-item-header:hover {background: #E6EEF4 !important;}
 
.testnet_only {display: none;}
 
.label {
	font-size: 100%;
	font-weight: bold;
 }
 
.label-small {font-size: 12px;}
 
.scrollable-menu {
	height: auto;
	max-height: 500px;
	overflow-x: hidden;
 }
 
.brs_message {
	background: #DFF0D9;
	border: 1px solid #D6E8C7;
	color: #48874A;
	display: none;
	padding: 5px;
 }
 
#brs_update_explanation span {display: none;}
 
.incorrect {
	background: #E2424F !important;
	border: 1px solid #E4404B !important;
	color: white !important;
 }
 
.navbar-right > ul > li > a {
	-moz-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear
 }
.btn-group.colors .color {
	display: inline-block;
	height: 10px
	margin-right: 5px;
	margin-top: 3px;
	vertical-align: text-top;
	width: 10px;
 }
 
.box {overflow: hidden;}
 
.navbar {border: none;}
 
#show_console {
	bottom: 0px;
	display: none;
	position: fixed;
	right: 3px;
 }
 
.lockscreen #downloading_blockchain {display: none !important;}
 
label .popover-content {font-weight: normal;}
 
#account_id:hover {cursor: pointer;}
 
#account_id_dropdown ul.dropdown-menu>li>a {padding: 3px 8px;}
 
.popover {z-index: 9999999999;}
 
#buy_automatic_price.nonzero, #sell_automatic_price.nonzero {cursor: pointer}
 
a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {z-index: auto;}
 
.left-side .user-panel .dropdown-menu>li>a {color: #333;}
 
a.list-group-item h4 span {color: blue;}
 
a.list-group-item.active h4 span {color: yellow;}
 
.show_logout {display: none;}
 
table.settings td {padding-bottom: 5px;}
 
.malformed_address {
	cursor: pointer;
	font-weight: bold;
 }
 
dd.to_decrypt p {
	background: #ffcc00 !important;
	color: black !important;
	cursor: pointer;
 }
dd.from.to_decrypt p:last-child::before {border-right: 1.5em solid #ffcc00 !important;}
 
dd.to.to_decrypt p:last-child::before {border-left: 1.5em solid #ffcc00 !important;}
 
dd.decryption_failed p {
	background: red !important;
	color: white !important;
 }
 
	dd.decryption_failed p::before {border-right: 1.5em solid red !important;}
 
input:invalid {border: 1px solid red;}
 
#forging_indicator i {color: #a94442;}
 
#forging_indicator.forging i {color: #3c763d;}
 
#forging_indicator.forging.animated i {
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: pulse;
 }
 
@-moz-keyframes pulse {from}
 
50% {
	color: #91bd09;
	text-shadow: 0 0 18px #9bc92b;
 }
 
to {
	color: #749a02;
	text-shadow: 0 0 9px #266000;
 }
 
{}
 
@-webkit-keyframes pulse {from}
 
50% {
	color: #91bd09;
	text-shadow: 0 0 18px #9bc92b;
 }
 
to {
	color: #749a02;
	text-shadow: 0 0 9px #266000;
 }
 
{}
 
@keyframes pulse {from}
 
50% {
	color: #91bd09;
	text-shadow: 0 0 18px #9bc92b;
 }
 
to {
	color: #749a02;
	text-shadow: 0 0 9px #266000;
 }
 
{}
 
#account_name {
	color: #d3d7dc;
	font-style: italic;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
 }
 
 
hr {
	margin-bottom: 10px;
	margin-top: 10px;
 }
 

.input-group-btn .btn.focus {
	background-color: #fff;
	border: none !important;
	color: #666;
 }
.goods_info, .purchase_info {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #fafafa;
	border-radius: 5px;
	border: 1px solid #ccc;
	color: black;
	margin-bottom: 15px;
	margin: 5px;
	padding: 5px;
 }
 
.goods_info table, .purchase_info table {width: 100%;}
 
.purchase_info th, .purchase_info td {vertical-align: top;}
 
.purchase_info th {
	padding-right: 5px;
	white-space: nowrap;
 }
 
.purchase_info td {width: 99%;}
 
.goods_info h3, .purchase_info h3 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 0px;
 }
 

.data-pagination {text-align: center;}
 
.advanced_info {
	color: #737373;
	float: left;
	font-style: italic;
	line-height: 34px;
 }
 
.advanced {display: none;}
 
.callout-bottom {
	margin-bottom: 0 !important;
	margin-top: 10px !important;
 }
 
input.masked {text-transform: uppercase;}
 
.form-control::-webkit-input-placeholder {text-transform: none !important;}
 
.form-control:-moz-placeholder {text-transform: none !important;}
 
.form-control::-moz-placeholder {text-transform: none !important;}
 
.form-control:-ms-input-placeholder {text-transform: none !important;}
 
.navbar-right > .nav > .dropdown > a {font-weight: bold;}
 
.recipient_public_key {display: none;}
 
.optional_message, .optional_note {display: none;}