#account_id:hover,#buy_automatic_price.nonzero,#sell_automatic_price.nonzero {
cursor:pointer
}

 ul.dropdown-menu>li>a {
padding:3px 8px
}

#account_name {
color:#d3d7dc;
font-style:italic;
overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap
}

#forging_indicator {
font-size:14px
}

#forging_indicator i {
color:#a94442
}

#forging_indicator.forging i {
color:#3c763d
}

#forging_indicator.forging.animated i {
animation-duration:2s;
animation-iteration-count:infinite;
animation-name:pulse
}

#message_text {
height:65%;
outline:none;
resize:none
}

#show_console {
bottom:0;
display:none;
position:fixed;
right:3px
}

.advanced_info {
color:#737373;
float:left;
font-style:italic;
line-height:34px
}

.bootstrap-notify-top-right {
box-shadow:0 2px 10px rgba(50,50,50,0.5)
}

.box {
overflow:hidden
}

.box-assets .box-body {
padding-top:0!important
}

.box-assets .box-header,.small-box > .inner-smaller {
padding-bottom:0!important
}

.box.box-assets {
background-color:#FCFBEF!important
}

.brs_message {
background:#DFF0D9;
border:1px solid #D6E8C7;
color:#48874A;
display:none;
padding:5px
}

.btn-group.colors .color {
display:inline-block;
height:10px;
margin-right:5px;
margin-top:3px;
vertical-align:text-top;
width:10px
}

.callout-bottom {
margin-bottom:0!important;
margin-top:10px!important
}

.center_el {
float:none!important;
margin-left:auto!important;
margin-right:auto!important
}

.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12 {
padding-left:10px!important;
padding-right:10px!important
}

.content-no-padding {
margin-top:2px;
padding:0!important
}

.content-spliter {
height:100%;
position:relative;
width:100%
}

.content-spliter::after {
clear:both;
content:'';
display:block
}

.content-splitter-inner {
bottom:0;
left:0;
position:absolute;
right:0;
top:0
}

.content-splitter-right .box-solid {
margin-bottom:15px!important
}

.content-splitter-right.empty:before {
content:"No preview";
font-size:24px;
font-weight:100er;
left:50%;
position:absolute;
top:50%;
transform:translate(-50%,-50%)
}

.content-splitter-sidebar .list-group .list-group-item {
border-bottom:1px solid #ddd!important;
border-left:none!important;
border-right:none!important;
border-top:none!important;
margin-bottom:0!important
}

.content-splitter-sidebar .list-group,.form-group-last,.rss_news .list-group,a.list-group-item-header h4 {
margin-bottom:0!important
}

.content-splitter-sidebar .list-group-item:first-child {
border-top-left-radius:0!important;
border-top-right-radius:0!important
}

.content-splitter-sidebar .list-group-item:last-child {
border-bottom-left-radius:0!important;
border-bottom-right-radius:0!important
}

.context_menu {
display:none;
position:absolute
}

.data-container.data-loading .data-loading-container,.data-container.data-empty .data-empty-container {
display:block
}

.data-loading-container img,.rss_news.data-loading img {
margin-top:84px
}

.data-loading-container,.data-empty-container,.data-container.data-empty table,.data-container.data-loading table,.testnet_only,.page,#brs_update_explanation span,.show_logout,.advanced,.recipient_public_key,.optional_message,.optional_note {
display:none
}

.data-loading-container,.rss_news.data-loading {
height:200px;
text-align:center
}

.data-pagination {
text-align:center
}

.form-control::-webkit-input-placeholder,.form-control:-moz-placeholder,.form-control::-moz-placeholder,.form-control:-ms-input-placeholder {
text-transform:none!important
}

.goods_info h3,.purchase_info h3 {
font-size:16px;
font-weight:700;
margin-bottom:5px;
margin-top:0
}

.goods_info table,.purchase_info table {
width:100%
}

.goods_info,.purchase_info {
background:#fafafa;
border:1px solid #ccc;
border-radius:5px;
color:#000;
margin:5px;
padding:5px
}

.incorrect {
background:#E2424F!important;
border:1px solid #E4404B!important;
color:#FFF!important
}

.input-group-btn .btn.focus {
background-color:#fff;
border:none!important;
color:#666
}

.label {
font-size:100%;
font-weight:700
}

.label-small {
font-size:12px
}

.left-side .user-panel .dropdown-menu>li>a {
color:#333
}

.list-group-item-heading {
font-size:14px;
font-weight:700
}

.list-group-item.context {
background-color:#f5f5f5!important
}

.list-group-item.context p.list-group-item-text,.list-group-item.context h4 {
color:#000!important
}

.loading-spinner {
left:50%;
margin:-12px 0 0 -12px;
position:absolute;
top:50%
}

.malformed_address {
cursor:pointer;
font-weight:700
}

.navbar {
border:none
}

.navbar-right > .nav > .dropdown > a {
font-weight:700
}

.navbar-right > ul > li > a {
transition:all 300ms linear
}

.popover {
z-index:9999999999
}

.purchase_info td {
width:99%
}

.purchase_info th {
padding-right:5px;
white-space:nowrap
}

.purchase_info th,.purchase_info td {
vertical-align:top
}

.scrollable-menu {
height:auto;
max-height:500px;
overflow-x:hidden
}

.small-box .icon-smaller {
bottom:-7px;
color:rgba(0,0,0,0.15);
font-size:75px;
position:absolute;
right:5px;
z-index:0
}

.small-box:hover .icon-smaller {
animation-duration:.5s;
animation-fill-mode:forwards;
animation-iteration-count:1;
animation-name:transformAnimationSmall;
animation-timing-function:ease
}

.table-assets div.col-sm-8 {
padding-left:0!important;
padding-right:0!important;
width:165px!important
}

.table.table-assets td,.table.table-assets th {
border-top:none!important;
padding:5px
}

.unselectable {
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
-webkit-user-select:none;
user-select:none
}

a.list-group-item h4 span {
color:#00F
}

a.list-group-item-header {
background:#E6EEF4!important;
color:#FFF!important;
cursor:default!important;
padding:0!important
}

a.list-group-item-header:hover {
background:#E6EEF4!important
}

a.list-group-item.active h4 span {
color:#FF0
}

a.list-group-item.active,a.list-group-item.active:hover,a.list-group-item.active:focus {
z-index:auto
}

a.list-group-item:hover {
color:#000
}

body.reed_solomon .modal-dialog-wide,.modal-dialog-wider {
width:800px
}

dd.decryption_failed p {
background:red!important;
color:#FFF!important
}

dd.decryption_failed p::before {
border-right:1.5em solid red!important
}

dd.from.to_decrypt p:last-child::before {
border-right:1.5em solid #fc0!important
}

dd.to.to_decrypt p:last-child::before {
border-left:1.5em solid #fc0!important
}

dd.to_decrypt p {
background:#fc0!important;
color:#000!important;
cursor:pointer
}

div.tentative {
background-color:#c4e1ec!important;
font-style:italic!important;
padding:5px
}

hr {
margin-bottom:10px;
margin-top:10px
}

input.masked {
text-transform:uppercase
}

input:invalid {
border:1px solid red
}

label .popover-content {
font-weight:400
}

table.settings td {
padding-bottom:5px
}

tr.tentative td {
background-color:#DAE3F2!important;
font-style:italic!important
}

tr.tentative td a {
color:#000;
cursor:default;
pointer-events:none
}

tr.tentative-allow-links td a {
color:#3c8dbc!important;
cursor:pointer!important;
pointer-events:auto!important
}

tr.tentative-crossed td {
position:relative
}

tr.tentative-crossed td,tr.tentative-crossed td a {
color:red!important
}

tr.tentative-crossed td:before {
border-bottom:1px solid red;
content:" ";
left:0;
position:absolute;
top:50%;
width:100%
}

tr.your-order td {
background-color:#FFFAF0!important
}

@keyframes transformAnimationSmall {
from{
}
}

to {
  font-size: 85px;
}

@keyframes pulse {
  from;
}

50% {
  color: #91bd09;
  text-shadow: 0 0 18px #9bc92b;
}

to {
  color: #749a02;
  text-shadow: 0 0 9px #266000;
}
 